:root {
  --white: #fff;
  --light-grey: #f7f7f7;
  --grey: #ccc;
  --dark-grey: #666;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

div.main-container {
  display: grid;
  grid-template-columns: 78% 22%;
  column-gap: 1.7rem;
  padding: 1.7rem 10rem 1.7rem 6.5rem;
  background-color: var(--light-grey);
}


/******** Nav ********/


/* div.container-left */

nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  font-size: 1.3rem;
  background-color: var(--white);
}

div.container-left {
  display: flex;
  align-items: center;
}

div.container-left i.fa-bars,
div.container-left i.fa-youtube {
  margin-left: 1.7rem;
}

div.container-left span {
  position: relative;
  margin-left: .2rem;
  font-weight: 800;
}

div.container-left i.fa-youtube {
  font-size: 1.9rem;
  color: #f00;
}

div.container-left sup {
  position: absolute;
  top: -3px;
  right: -16px;
  font-size: .7rem;
  font-weight: 100;
}

/* div.container-centre */

div.container-centre {
  display: flex;
  align-items: center;
}

div.container-centre input[type="search"] {
  height: 2.8rem;
  width: 39rem;
  padding: .3rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 2px 0 0 2px;
  outline: none;
}

div.container-centre button {
  height: 2.8rem;
  padding: .3rem 1.8rem;
  border: 1px solid var(--grey);
  border-left: none;
  border-radius: 0 2px 2px 0;
  background-color: var(--light-grey);
}

div.container-centre i.fa-microphone {
  margin-left: 1.7rem;
}

/* div.container-right */

div.container-right {
  display: flex;
  align-items: center;
}

div.container-right i.fa-bell,
div.container-right i.fa-th,
div.container-right i.fa-video,
div.container-right div.profile {
  margin-right: 1.7rem;
}

div.container-right div.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #5c6bc0;
  color: #fff;
}

/* Misc */

div.container-left i.fa-bars:hover,
div.container-left i.fa-youtube:hover,
div.container-left span,
div.container-centre button,
div.container-centre i.fa-microphone,
div.container-right i.fa-bell,
div.container-right i.fa-th,
div.container-right i.fa-video,
div.container-right div.profile {
  cursor: pointer;
}


/******** Current Video ********/


section.current-video {
  background-color: var(--light-grey);
}

section.current-video div.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

section.current-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.current-video div.video-description-wrapper-top {
  display: flex;
  justify-content: space-between;
  height: 6.5rem;
  border-bottom: 1px solid var(--grey);
}

div.video-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.video-info h2 {
  font-size: 1.3rem;
  font-weight: 300;
}

div.video-info p {
  color: var(--dark-grey);
}

div.video-options {
  display: flex;
  align-items:flex-end;
  padding-bottom: .8rem;
  font-size: 1.2rem;
}

div.video-options span {
  margin: 0 1.1rem 0 .4rem;
  font-weight: 500;
}

div.likes:hover,
div.dislikes:hover,
div.share:hover,
div.save:hover,
div.more:hover {
  cursor: pointer;
}

section.current-video div.video-description-wrapper-bottom {
  border-bottom: 1px solid var(--grey);
}

div.uploader {
  display: flex;
  align-items: center;
  height: 6.5rem;
}

div.uploader img {
  height: 3.2rem;
  margin-right: 1rem;
  border-radius: 50%;
}

div.uploader p.profile-name {
  margin-bottom: .2rem;
  font-weight: 800;
}

div.uploader p.subscribers {
  font-size: .9rem;
  color: var(--dark-grey);
}

div.uploader button {
  margin-left: auto;
  padding: .6rem 1.2rem;
  border: none;
  background-color: #cc0000;
  font-size: 1.1rem;
  color: var(--white);
}

div.music-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18rem;
  width: 50%;
  margin-left: 4.2rem;
  border-top: 1px solid var(--grey);
  font-weight: 800;
}

div.music-info table {
  border-collapse: separate;
  border-spacing: 0 .7rem;
  text-align: left;
}

div.music-info table tr {
  padding-bottom: 10rem;
}

div.music-info table th {
  font-weight: 400;
  color: var(--dark-grey);
}

div.music-info span {
  margin-bottom: .5rem;
  color: var(--dark-grey);
}

div.uploader img,
div.uploader p.profile-name,
div.uploader button,
div.music-info span {
  cursor: pointer;
}


/******** Comments ********/


section.comments {
  background-color: var(--light-grey);
}

div.comments-tools {
  display: flex;
  align-items: center;
  margin: 2rem 0 1.5rem;
}

span.comments-count {
  font-size: 1.2rem;
  margin-right: 1.7rem;
}

div.comments-sort span{
  margin-left: .5rem;
  font-size: 1.1rem;
}

div.add-comment {
  display: flex;
  margin-bottom: 2.4rem;
}

div.add-comment div.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #5c6bc0;
  font-size: 1.5rem;
  color: #fff;
}

div.add-comment input {
  align-self: flex-start;
  width: 100%;
  margin-left: 1rem;
  padding: 0 0 .6rem;
  border: none;
  border-bottom: 1px solid var(--grey);
  background-color: transparent;
  outline: none;
}

div.comment {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

div.comment img {
  align-self: flex-start;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

div.comment span.username {
  margin-right: .5rem;
  font-weight: 800;
}

div.comment span.date {
  font-size: .9rem;
  color: var(--dark-grey);
}

div.comment div.username-date-wrapper {
  display: flex;
  margin-bottom: .5rem;
}

div.comment p {
  margin-bottom: 1rem;
}

div.comment i.fa-thumbs-up {
  margin-right: .8rem;
}

div.comment i.fa-thumbs-down {
  margin: 0 1.5rem 0 1.2rem;
}

/* div.comment i.fa-ellipsis-v {
  align-self: flex-start;
  margin: 1rem 0 0 auto;
} */

div.comment div.view-replies {
  margin-top: .8rem;
  font-weight: 800;
  color: #1c6dd7;
}

div.comment div.view-replies i.fa-caret-down {
  margin-right: 1rem;
}

span.comments-count,
div.comments-sort,
div.comment img,
div.comment span.username,
div.comment i.fa-thumbs-up,
div.comment i.fa-thumbs-down,
div.comment span.reply,
div.comment div.view-replies,
div.comment i.fa-ellipsis-v {
  cursor: pointer;
}


/******** Sidebar ********/

aside.sidebar {
  grid-row: 1/3;
  grid-column: 2/3;
}

div.filter-videos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

div.filter-videos div {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1.1rem .6rem;
  border: 1px solid var(--grey);
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #eee;
  transition: background-color 200ms;
}

div.filter-videos div:first-of-type {
  background-color: #000;
  color: var(--white);
}

div.thumbnail {
  display: flex;
  margin-bottom: .5rem;
}

div.thumbnail-image {
  position: relative;
}

div.thumbnail-image img {
  height: 6rem;
}

div.thumbnail-image div.video-length {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 2px 5px;
  font-size: .8rem;
  font-weight: 800;
  background-color: rgba(0,0,0,.8);
  color: var(--white);
}

div.thumbnail-image div.watch-later {
  position: absolute;
  top: 5px;
  right: 8px;
  padding: 4px 5px 1px;
  background-color: rgba(0,0,0,.8);
  color: var(--white);
}

div.thumbnail-image div.add-to-queue {
  position: absolute;
  top: 32px;
  right: 8px;
  padding: 5px;
  background-color: rgba(0,0,0,.8);
  color: var(--white);
}

div.thumbnail-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: .5rem;
  font-size: .9rem;
  color: var(--dark-grey);
}

div.thumbnail-description p:first-of-type {
  font-weight: 600;
  color: #000;
}

div.filter-videos div:hover {
  background-color: var(--grey);
}

div.filter-videos div:first-of-type:hover {
  background-color: #000;
}

div.filter-videos div {
  cursor: pointer;
}

div.thumbnail:hover {
  cursor: pointer;
}


/******** Misc ********/


.show {
  display: block;
}