:root {
  --white: #fff;
  --light-grey: #f7f7f7;
  --grey: #bbb;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

div.main-container {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 1rem;
  padding: 1rem 3.4rem;
  background-color: #eee;
}


/******** Nav ********/


/* div.container-left */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.9rem;
  font-size: .7rem;
}

div.container-left {
  display: flex;
  align-items: center;
}

div.container-left i.fa-bars,
div.container-left i.fa-youtube {
  margin-left: .9rem;
  font-weight: 600;
}

div.container-left span {
  position: relative;
  margin-left: .1rem;
}

div.container-left i.fa-youtube {
  font-size: .85rem;
  color: #f00;
}

div.container-left sup {
  position: absolute;
  right: -15px;
  font-size: .33rem;
  font-weight: 100;
}

/* div.container-centre */

div.container-centre {
  display: flex;
  align-items: center;
}

div.container-centre input[type="search"] {
  height: 1.3rem;
  width: 18rem;
  padding: .2rem .4rem;
  border: 1px solid var(--grey);
  border-radius: 2px 0 0 2px;
  outline: none;
}

div.container-centre button {
  height: 1.3rem;
  padding: 0 .7rem;
  border: 1px solid var(--grey);
  border-left: none;
  border-radius: 0 2px 2px 0;
  background-color: var(--light-grey);
}

div.container-centre i.fa-microphone {
  margin-left: .9rem;
}

/* div.container-right */

div.container-right {
  display: flex;
  align-items: center;
}

div.container-right i.fa-bell,
div.container-right i.fa-th,
div.container-right i.fa-video,
div.container-right div.profile {
  margin-right: .9rem;
}

div.container-right div.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #5c6bc0;
  color: #fff;
}

/* Misc */

div.container-left i.fa-bars:hover,
div.container-left i.fa-youtube:hover,
div.container-left span,
div.container-centre button,
div.container-centre i.fa-microphone,
div.container-right i.fa-bell,
div.container-right i.fa-th,
div.container-right i.fa-video,
div.container-right div.profile {
  cursor: pointer;
}


/******** Current Video ********/


section.current-video {
  height: 35rem;
  background-color: #f00;
}

section.current-video div.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

section.current-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/******** Comments ********/


section.comments {
  background-color: #0ff;
}


/******** Sidebar ********/


aside.sidebar {
  background-color: #00f;
}